{% extends '__base__.html' %}
{% block title %} User Register {% endblock %}
{% block beforehead %}

<script>
    function validateEmail(email){
        var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\_\-]+(\.[a-z0-9\-\_]+){1,4}%/
        return re.test(email.toLowerCase());
    }
    $(function () {
        var vm = new Vue({
            el: '#vm',
            data: {
                name:'',
                email:'',
                password1:'',
                password2:''
            }
            methods:{
                submit: function (event) {
                    event.preventDefault();
                    var $form = $('#vm');
                    if (! this.name.trim()) {
                        return $form.showFromError(
                    }
                }
            }
        })
    })

</script>
